@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cambiar color de las bullets */
.swiper-pagination-bullet {
  background-color: #fff; /* Color de las bullets inactivas */
  width: 8px;               /* Tamaño de las bullets */
  height: 8px;              /* Tamaño de las bullets */
  border-radius: 50%;        /* Bullets redondos */
  opacity: 0.7;              /* Opacidad de las bullets */
  transition: background-color 0.3s, transform 0.3s; /* Animación al hacer hover */
}

/* Cambiar el color cuando la bullet está activa */
.swiper-pagination-bullet-active {
  background-color: #46ff40; /* Color de las bullets activas */
}
